<!DOCTYPE html>
<html lang="utf-8">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="style.css">
    <title>Login</title>

</head>

<body>

<form method="get" id="login" action="enter.html">
    <h1>Войдите в систему</h1>
    <fieldset id="inputs">
        <label for="email"><input type="text" id="email" name="email"  placeholder="email" autofocus required></label>
        <label for="password"><input type="password" id="password" name="password" placeholder="Пароль" required></label>
    </fieldset>
    <fieldset id="actions">
        <input type="submit" value="Войти">
        <a href="">Забыли пароль?</a><a href="">Регистрация</a>
    </fieldset>



</form>
</body>
</html>
